---
- name: Install the Docker requirements
  ansible.builtin.apt:
    name:
      - bash-completion
      - ca-certificates
      - curl
      # Packages required for deb822 repository compatibility
      - python3-debian
    state: present

- name: Configure the Docker APT repository
  ansible.builtin.deb822_repository:
    name: "{{ docker_repository_filename }}"
    types: deb
    uris: "{{ docker_apt_repository }}"
    suites: "{{ docker_repository_apt_distribution_release }}"
    components: stable
    signed_by: "{{ docker_apt_gpg_key }}"
    state: present
